@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* --- YOUR ORIGINAL STYLES --- */

pre, span, div, p, h1 {
  background-color: transparent;
}

* {
  text-align: center;

  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background-color: black;
  color: white;

  font-family: 'Source Code Pro', monospace;
}

.inline-container {
  position: absolute;
  bottom: 15%;
  width: 470px;
}

.emoji {
  height: 20px;
  bottom:50%;
  transform:translateY(30%);
}

#marquee {
  display: inline-block;
  width: 450px;
}

.title {
  font-size: 25px;
}

.center {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.topbar {
  top: 5%;
}

.bottombar {
  top: auto;
  bottom: 5%;
}

/* --- THE FIXED, FULL-SCREEN PARTICLES BACKGROUND --- */

#particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1;
}

/* FORCE particles canvas to EXACTLY match viewport (fixes mobile shifting) */
canvas.particles-js-canvas-el {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;

  width: 100vw !important;
  height: 100vh !important;

  margin: 0 !important;
  padding: 0 !important;
}
